body {
  background-color: #00334e;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 40px 0;
}
#loginContainer,
#registroContainer {
  background-color: white;
  max-width: 600px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}


h2 {
  color: #007c91;
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #007c91;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005f6b;
}

#mensaje {
  margin-top: 20px;
  font-weight: bold;
}
#logo-olimpico{
    display: block;
    margin: 0 auto 20px auto;
    max-width: 150px;
    height: auto;
}