.sobre-olimpico {
    text-align: center;
    padding: 80px 20px;
    background-color: #f9f9f9;
}

.sobre-olimpico h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.sobre-olimpico p {
    font-size: 1.2rem;
    color: #555;
    max-width: 700px;
    margin: 0 auto 30px;
    line-height: 1.6;
}

.sobre-olimpico img {
    max-width: 500px;
    width: 90%;
    
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}