<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Login</title>
</head>
<body>
        <header>
        <div class="brand">
            <img src="../img/logo-olimpico.png"class="logo-img">
            <h1 class="titulo">EL OLIMPICO</h1>
        </div>
        <nav class="navigation">
            <a href="../html/carta.html">Nuestra Carta</a>
            <a href="../html/promociones.html">Promociones</a>
            <a href="../html/reserva.html">Reserva</a>
            <a href="../html/sobre_nosotros.html">Sobre Nosotros</a>
            <a href="../html/ubicacion.html">Ubicacion</a>
            <button class="btnLogin">Login</button>   
        </nav>
        </header>

        <div class="main_image">
            <div class="contenedor-imagen">
                    <h1>HAZ TU PEDIDO AQUÍ</h1>
                    <a href="../html/carta.html" class="pedido-btn">Hacer un pedido</a>
            </div>
        </div>

        <!-- Inicio: Carrusel de Promociones -->

<!-- Fin: Carrusel de Promociones -->




<!------------------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------------------>



    <div class="contenedor">
        <span class="icono-cerrar"><ion-icon name="close-outline"></ion-icon></span>

        <div class="form-box login">
            <h2>Iniciar Sesión</h2>
            <form action="">
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-outline"></ion-icon>  </span>
                    <input type="email" required>
                    <label >Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input type="password" required>
                    <label >Contraseña</label>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="registro">
                    <p>No tienes una cuenta? <a class="register-link">Registrarme</a></p>
                </div>
            </form>
        </div>


        <div class="form-box registro">
            <h2>Registro</h2>
            <form action="">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon>  </span>
                    <input type="text" required>
                    <label >Apellidos y Nombres</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                    <input type="email" required>
                    <label >Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input type="password" required>
                    <label >Contraseña</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="id-card-outline"></ion-icon></ion-icon></span>
                    <input type="text" required>
                    <label >DNI</label>
                </div>
                <div class="terminos">
                    <label for=""><input type="checkbox">Acepto Terminos y Condiciones</label>
                </div>
                <button type="submit" class="btn">Registrarme</button>
                <div class="registro">
                    <p>Tienes una cuenta? <a class="login-link">Iniciar Sesión</a></p>
                </div>
            </form>
        </div>
    </div>
    <footer class="footer">
  <div class="footer-container">

    <div class="footer-col">
      <h3>El Olímpico</h3>
      <ul>
        <li><a href="../html/sobre_nosotros.html">Historia</a></li>
        <li><a href="../html/sobre_nosotros.html">Misión</a></li>
        <li><a href="../html/sobre_nosotros.html">Visión</a></li>
        <li><a href="../html/sobre_nosotros.html">El Olímpico Sostenible</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h3>Servicios</h3>
      <ul>
        <li><a href="#">Delivery</a></li>
        <li><a href="#">Reservas</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h3>Métodos de Pago</h3>
      <div class="metodos-pago">
        <img src="../img/visa.png" alt="Visa">
        <img src="../img/yape.png" alt="Yape">
        <img src="../img/bbva.png" alt="BBVA">
        <img src="../img/efectivo.png" alt="Efectivo">
      </div>
    </div>

    <div class="footer-col">
      <h3>Contáctanos</h3>
      <ul>
        <li><a href="#">Escríbenos</a></li>
        <li><a href="#">Trabaja con nosotros</a></li>
        <li><a href="#">Libro de Reclamaciones</a></li>
      </ul>
    </div>

  </div>
  <div class="footer-bottom">
    <p>© 2025 El Olímpico - Todos los derechos reservados</p>
  </div>
</footer>

    <a href="https://api.whatsapp.com/send?phone=51960743169&text=Hola%20Cevichería%20El%20Olímpico,%20quisiera%20hacer%20una%20consulta!" 
   class="whatsapp-float" target="_blank" rel="noopener" aria-label="Consultar dudas por WhatsApp">
    <ion-icon name="logo-whatsapp"></ion-icon>
    </a>

    <a href="https://www.instagram.com/alferox01/" 
   class="instagram-float" target="_blank" rel="noopener" 
   aria-label="Visítanos en Instagram">
    <ion-icon name="logo-instagram"></ion-icon>
</a>

<a href="https://www.facebook.com/sebastian.fernandez.882059" 
   class="facebook-float" target="_blank" rel="noopener" aria-label="Síguenos en Facebook">
    <ion-icon name="logo-facebook"></ion-icon>
</a>

<a href="https://x.com/AlonsoMedr31941" 
   class="twitter-float" target="_blank" rel="noopener" aria-label="Síguenos en Twitter">
    <ion-icon name="logo-twitter"></ion-icon>
</a>

    <script src="../js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
